<h1>
  Here's a list of all our wilders !
</h1>
<label>Add a Wilder</label>
<input [(ngModel)]="name">
<input [(ngModel)]="role">

<button (click)="addWilder('You Added a Wilder !')">Add</button>

<div class="list">
  <ul>
    <!-- Iterate through our Array, displayind as many li element as needed. -->
    <li *ngFor="let wilder of wilders; let i = index">
      <!-- wilder refers to the current index in the Array -->
      <!-- i is the numerical value of the index provided by Angular -->
      <h1>{{ wilder.name }}</h1>
      <p>{{ wilder.role }}</p>
      <button (click)='removeWilder(i)'>DELETE</button>
      <hr>
    </li>
  </ul>
</div>
