<h1>
  Here's a list of all our wilders !
</h1>


<!-- Property binding -->
<label>Add a Wilder</label>
<!-- Using directives -->
<input [placeholder]="namePlaceholder">
<!-- Using String Interpolation -->
<input placeholder="{{ rolePlaceholder }}">

<!-- Natives Event binding -->

<!-- Not using the Event Object -->
<button (click)="addWilder.emit('You Added a Wilder')">Add</button>
<!-- Using the Event Object -->
<button (click)="remove()">Remove</button>

<!-- @Input() decorator -->
<p>{{ wilder.name }} is a {{ wilder.role }}</p>

