<h1>
  Here's a list of all our wilders !
</h1>
<label>Add a Wilder</label>
<input [(ngModel)]="name">
<input [(ngModel)]="role">

<button (click)="addWilder('You Added a Wilder !')">Add</button>
<hr>

<!-- Search function, binded to our search term for real time search -->
<label>Search for a wilder</label>
<input [(ngModel)]="searchTerm">

<div class="list">
  <ul>
    <!-- Filter the array using our filter pipe. -->
    <li *ngFor="let wilder of wilders | filter:searchTerm; let i = index">
      <!-- Display all names uppercase thanks to this Angular pipe -->
      <h1>{{ wilder.name | uppercase }}</h1>
      <p>{{ wilder.role }}</p>
      <button (click)='removeWilder(i)'>DELETE</button>
      <hr>
    </li>
  </ul>
</div>
